.btn {
	border-radius: 0;
	border: none;
	box-shadow: none;
	&:focus {
		outline: none;
	}
}

.search-button {
	font-family: Avenir-Black;
	margin-top: 13px;
	background: $filter-button;
	width: 110px;
	height: 34px;
	line-height: 36px;
	padding: 0 10px;
	text-transform: uppercase;
	color: $main-color;
}
