$main-background: #fff;
$main-color: #383742;
$gray-color: #777;

$navbar-bg: #3e6bd0;
$navbar-link-color: #fff;

$blog-navbar-bg: #3e98d0;

$filter-bar-bg: #fff;
$filter-button: #FFDC00;

$footer-bg: #383742;

$blog-text-color: #3e98d0;