$break-small: 480px;
$break-medium: 768px;

$break-mobile-s: 320px;
$break-mobile-m: 375px;
$break-mobile-l: 425px;
$break-tablet: 768px;
$break-laptop: 1024px;
$break-laptop: 1440px;

#marker {
    width: 40px;
    height: 36px;
    cursor: pointer;
}
@mixin breadcrumb {
	background: #fff;
	margin-top: 20px;
	padding: 0;
	font-size: 14px;
	color: $main-color;

	a {
		color: $navbar-bg;
	}
}

@mixin rates {
	list-style: none;
	font-size: 18px;
	
	li {
		display: inline-block;
		width: 18px;
		height: 18px;
	}
	.full {
		background: url("../img/star-full.svg") no-repeat;
		background-size: cover;
	}
	.half {
		background: url("../img/star-half.svg") no-repeat;
		background-size: cover;
	}
	.empty {
		background: url("../img/star-empty.svg") no-repeat;
		background-size: cover;
	}
}

body#detail {
	padding-top: 140px;
	@media screen and (max-width: $break-small) {
		padding-top: 100px;
	}
}

#rental-detail {

	.breadcrumb {
		@include breadcrumb;
		margin: 0;
	}

	#rates {
		@include rates;
		margin-bottom: 20px;
	}

	h1 {
		font-size: 32px;
		font-weight: 400;
	}

	.btn-group {
		margin-bottom: 20px;
		.btn-lg {
			padding: 8px 15px;
			font-size: 18px;
		}
	}


	#rental-pictures {
		margin-bottom: 50px;

		.carousel {
		  background: #FAFAFA;
		}

		.carousel-cell-image {
		  display: block;
		  height: 500px;
		  min-width: 200px;
		  opacity: 0;
		  -webkit-transition: opacity 0.4s;
		          transition: opacity 0.4s;
		}

		/* fade in lazy loaded image */
		.carousel-cell-image.flickity-lazyloaded,
		.carousel-cell-image.flickity-lazyerror {
		  opacity: 1;
		}

	}

	#details {
		padding: 20px 0;
		.details {
			font-size: 20px;
		}
		#detail-icons, #detail-text {
			margin-bottom: 30px;
			p {
				font-size: 16px;
			}
		}
		.item {
			text-align: center;
			margin-bottom: 20px;
			overflow: hidden;
			img {
				width: 32px;
				height: 32px;
				opacity: .6;
				margin-bottom: 10px;
			}
			span {
				display: block;
				text-align: center;
				font-size: 14px;
				color: #888;
			}
			p {
				margin-top: 15px;
				display: block;
				font-size: 24px;
				color: $main-color;
			}
		}
		#about-owner {
			p {
				font-size: 16px;
			}
		}
		#featured {
			margin-top: 30px;
			padding-bottom: 30px;
			
			.carousel {
			  	background: #FAFAFA;
			}

			.carousel-cell {
				position: relative;
			  	height: 180px;
			  	margin-right: 10px;
			  	padding: 0 5px;
			  	overflow: hidden;
			  	.description-container {
			  		position: absolute;
			  		height: 40px;
			  		background: rgba(0,0,0,.4);
			  		width: calc(100% - 10px);
			  		left: 5px;
			  		bottom: 0;
			  		text-indent: 10px;
			  		overflow: hidden;
			  		.price, .capacity {
			  			color: #fff;
			  			line-height: 40px;
			  			text-align: left;
			  			font-size: 18px;
			  		}
			  		.capacity {
			  			float: right;
			  			margin-right: 10px;
			  		}
			  	}
			}

			.carousel-cell-image {
			  	display: block;
			  	max-height: 100%;
			  	margin: 0 auto;
			  	// max-width: 100%;
			  	opacity: 0;
			  	-webkit-transition: opacity 0.4s;
			          transition: opacity 0.4s;
			}

			/* fade in lazy loaded image */
			.carousel-cell-image.flickity-lazyloaded,
			.carousel-cell-image.flickity-lazyerror {
			  	opacity: 1;
			}

			.flickity-page-dots {
				bottom: -35px;
			}
		}
	}


	#map-container {
		width: 100%;
		height: 440px;
		#map { position:absolute; top:0; bottom:0; width:98%; }
	}

	.panel {
		background: #fafafa;
		border: 1px solid #eee;
		border-radius: 0;
		padding: 20px;
		overflow: hidden;

		span.price {
			font-size: 32px;
			color: $main-color;
			display: block;
			line-height: 1;
		}

		.book-this {
			margin-top: 20px;
			span {
				font-size: 17px;
				display: block;
				margin-bottom: 5px;
			}
			.date-in, .date-out, .sleeps {
				background: #fff;
				width: calc(50% - 5px);
				position: relative;
				float: left;
				border: 1px solid #eee;
				margin-bottom: 15px;
				i.calendar, i.person {
					opacity: .5;
					position: absolute;
					right: 5px;
					top: 10px;
				}
				i.calendar {
					background: url(../img/icons/date-calendar.svg) no-repeat;
					width: 14px;
					height: 14px;
					background-size: cover;
				}
				i.person {
					background: url(../img/icons/sleeps.svg) no-repeat;
					width: 14px;
					height: 14px;
					background-size: cover;

				}
				input {
					width: 100%;
					border: none;
					outline: none;
					height: 35px;
					font-size: 16px;
					text-indent: 5px;
				}
			}
			.date-in {
				margin-right: 5px;
			}
			.sleeps {
				width: calc(100% - 4px);
			}
			.btn {
				width: calc(100% - 4px);
			}
		}
	}

	@media screen and (max-width: $break-small) {
		.breadcrumb {
			display: none;
		}
		h1 {
			font-size: 20px;
			line-height: 1.2;
			font-weight: 400;
			width: 100%;
			height: 20px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-top: 20px;
		}
		#rates {
			font-size: 16px;
			li {
				width: 16px;
				height: 16px;
			}
		}
	}
	@media screen and (max-width: $break-mobile-l) {
		.carousel-cell-image {
			height: 300px !important;
		}
		.flickity-page-dots {
			bottom: -40px;
		}
	}
	@media screen and (max-width: $break-mobile-m) {
		.carousel-cell-image {
			height: 270px !important;
		}
		.flickity-page-dots {
			bottom: -50px;
		}
	}
	@media screen and (max-width: $break-mobile-s) {
		.carousel-cell-image {
			height: 220px !important;
		}
		.flickity-page-dots {
			bottom: -50px;
		}
	}
}