.icon {
	width: 18px;
	height: 18px;
	display: inline-block;
	margin-top: 8px;

	&.left {
		left: 10px;
	}
	&.right {
		right: 10px;
	}

	&.search {
		position: absolute;
		background: url(../img/icons/search.svg) no-repeat;
		background-size: cover;
	}
	&.calendar {
		background: url(../img/icons/calendar.svg) no-repeat;
		background-size: cover;
		position: absolute;
	}
	&.right-arrow {
		background: url(../img/icons/right-arrow.svg) no-repeat;
		width: 18px;
		height: 12px;
		top: 3px;
		position: absolute;
		background-size: cover;
	}
	&.guest {
		background: url(../img/icons/guest.svg) no-repeat;
		background-size: cover;
		width: 20px;
		position: absolute;
	}
	&.home {
		background: url(../img/icons/home.svg) no-repeat;
		background-size: cover;
		width: 14px;
		height: 14px;
	}
	&.pin {
		background: url(../img/icons/pin.svg) no-repeat;
		background-size: cover;
		width: 14px;
		height: 14px;
	}
	&.photos {
		background: url(../img/icons/photos.svg) no-repeat;
		background-size: cover;
		width: 14px;
		height: 14px;
	}
	&.credit-card {
		background: url(../img/icons/credit-card.svg) no-repeat;
		background-size: cover;
		width: 14px;
		height: 14px;
	}
	&.availability {
		background: url(../img/icons/availability.svg) no-repeat;
		background-size: cover;
		width: 14px;
		height: 14px;
	}
	&.list {
		background: url(../img/icons/list.svg) no-repeat;
		background-size: cover;
		width: 14px;
		height: 14px;
	}
}


.vicon {
	width: 17px;
	height: 17px;
	float: left;
	margin-right: 5px;
	&.sleeps {
		background: url(../img/icons/user.svg) no-repeat;
		background-size: cover;
	}
	&.bathrooms {
		background: url(../img/icons/shower.svg) no-repeat;
		background-size: cover;
	}
	&.bedrooms {
		background: url(../img/icons/bed.svg) no-repeat;
		background-size: cover;
	}
}