$break-mobile-s: 320px;
$break-mobile-m: 375px;
$break-mobile-l: 425px;
$break-tablet: 768px;
$break-laptop: 1024px;
$break-large: 1440px;
$break-xlarge: 2048px;



$margins: ( ("margin", "margin"), ("marginTop", "margin-top"), ("marginRight", "margin-right"), ("marginBottom", "margin-bottom"), ("marginLeft", "margin-left") );
$paddings: ( ("padding", "padding"), ("paddingTop", "padding-top"), ("paddingRight", "padding-right"), ("paddingBottom", "padding-bottom"), ("paddingLeft", "padding-left") );

@mixin createMarginsPaddings($selectors, $preffix: "") {
	$preffix: if($preffix != "", $preffix + "-", "");
	@each $item in $selectors {
		$class: nth($item, 1);
		$prop: nth($item, 2);
		@for $i from 0 through 10 {
			$val: $i * 5;
			.#{$preffix}#{$class}#{$val} {
				#{$prop}: #{$val}px;
			}
		}
	}
}

@mixin createFontSizes($preffix: "") {
	$preffix: if($preffix != "", $preffix + "-", "");
	@for $i from 10 through 60 {
		.#{$preffix}#{"fontSize"}#{$i} {
			font-size: #{$i}px;
		}
	}
}

@mixin createFontWeights($preffix: "") {
	$preffix: if($preffix != "", $preffix + "-", "");
	@for $i from 1 through 6 {
		$fw: $i * 100;
		.#{$preffix}#{"fontWeight"}#{$fw} {
			font-weight: #{$fw};
		}
	}
}

@mixin createWidthsHeights($preffix: "") {
	$preffix: if($preffix != "", $preffix + "-", "");
	@for $i from 1 through 150 {
		$value: $i * 5;
		.#{$preffix}#{"width"}#{$value} {
			width: #{$value}px;
		}
		.#{$preffix}#{"height"}#{$value} {
			height: #{$value}px;
		}
	}
}



@include createMarginsPaddings($margins);
@include createMarginsPaddings($paddings);
@include createFontSizes();
@include createFontWeights();
@include createWidthsHeights();


@media screen and (max-width: $break-mobile-l) {
	@include createMarginsPaddings($margins, "xs");
	@include createMarginsPaddings($paddings, "xs");
	@include createFontSizes("xs");
	@include createWidthsHeights("xs");
	@include createFontWeights("xs");
}

@media screen and (min-width: $break-mobile-l + 1) and (max-width: $break-tablet) {
	@include createMarginsPaddings($margins, "sm");
	@include createMarginsPaddings($paddings, "sm");
	@include createFontSizes("sm");
	@include createWidthsHeights("sm");
	@include createFontWeights("sm");
}

@media screen and (min-width: $break-tablet + 1) and (max-width: $break-laptop) {
	@include createMarginsPaddings($margins, "md");
	@include createMarginsPaddings($paddings, "md");
	@include createFontSizes("md");
	@include createWidthsHeights("md");
	@include createFontWeights("md");
}

@media screen and (min-width: $break-laptop + 1) and (max-width: $break-large) {
	@include createMarginsPaddings($margins, "lg");
	@include createMarginsPaddings($paddings, "lg");
	@include createFontSizes("lg");
	@include createWidthsHeights("lg");
	@include createFontWeights("lg");
}

@media screen and (min-width: $break-large + 1) and (max-width: $break-xlarge) {
	@include createMarginsPaddings($margins, "xl");
	@include createMarginsPaddings($paddings, "xl");
	@include createFontSizes("xl");
	@include createWidthsHeights("xl");
	@include createFontWeights("xl");
}







.block {
	display: block;
}

.fullWidth {
	width: 100%;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.backgroundSizeCover {
	background-size: cover;
}

.textScreenReader {
	width: 1px !important;
	height: 1px !important;
	color: rgba(255,255,255, 0) !important;
}

.backgroundColorGray {
	background-color: #f0f0f0;
}

.letterSpacingTight {
	letter-spacing: -0.07em !important;
}

.lineHeightTighter {
	line-height: 1.1 !important;
}

.uppercase {
	text-transform: uppercase;
}

.onePixel {
	width: 1px !important;
	height: 1px !important;
	color: rgba(255,255,255,0);
	overflow: hidden;
}


