$break-small: 480px;
$break-medium: 768px;

$break-mobile-s: 320px;
$break-mobile-m: 375px;
$break-mobile-l: 425px;
$break-tablet: 768px;
$break-laptop: 1024px;
$break-laptop: 1440px;

@import "detail-page";


body {
	background: #fff;
	color: $main-color;
	font-family: Avenir;
	font-weight: 400;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	&#home {
		padding-top: 80px;
		@media screen and (max-width: $break-small) {
			padding-top: 0;
		}
	}
	&#listing {
		padding-top: 140px;
	}
	@media screen and (max-width: $break-small) {
		padding-top: 0;
	}
}



.navbar-stayScrape {
	background: $navbar-bg;
	color: $navbar-link-color;
	width: 100%;
	height: 80px;
	line-height: 80px;
	border: none;
	border-radius: 0;
	position: fixed;
	top: 0;
	overflow: hidden;
	z-index: 999999;

	.navbar-brand {
		background: url(../img/logo_2x.png) no-repeat;
		background-size: cover;
		width: 157px;
		height: 32px;
		margin-top: 24px;
		margin-left: 0 !important;
	}

	.navbar-nav {
		a {
			color: $navbar-link-color;
			line-height: 80px;
			padding: 0 15px;
			font-size: 14px;
			text-transform: uppercase;
			&:hover {
				background: darken($navbar-bg, 10%);
			}
		}
	}

	@media screen and (max-width: $break-small) {
		overflow: hidden;
		height: 60px;
		margin-bottom: 0;
		.navbar-header {
			width: 100%;
			margin: 0;
			padding: 0;
			text-align: center;
			.navbar-brand {
				margin-top: 15px;
				float: none;
				display: inline-block;
			}
		}
	}
}

.filter-bar {
	background: $filter-bar-bg;
	width: 100%;
	height: 60px;
	color: #fff;
	position: fixed;
	top: 80px;
	z-index: 999999;
	// overflow: hidden;

	.input-container {
		margin-top: 13px;
		position: relative;
		background: #fff;
		border: 1px solid #ddd;
		height: 36px;
		padding: 0 10px;
		input {
			border: none;
			height: 34px;
			color: $main-color;
			&:focus {
				outline: none;
			}
		}
		&#place-input-container {
			input {
				width: calc(100% - 20px);
			}
		}
		&#date-input-container {
			input {
				width: calc(100% - 25px);
				margin-left: 25px;
			}
			.checkin-container {
				padding-right: 0;
			}
			.checkout-container {
				margin-left: 20px;
			}
		}
		&#guest-container {
			select {
				-webkit-appearance: none;
				margin-left: 30px;
				height: 34px;
				line-height: 36px;
				background: #fff;
				border: none;
				width: calc(100% - 30px);
				color: $main-color;
				&:focus {
					outline: none;
				}
			}
		}
	}
	.dropdown {
		margin-top: 13px;
		position: relative;
		background: #fff;
		.btn {
			width: 100%;
			border: 1px solid #ddd;
			height: 36px;
			padding: 0 10px;
			text-align: left;
		}
	}

	@media screen and (max-width: $break-small) {
		overflow: hidden;
		top: 60px;
		.search-button {
			width: 100%;
		}
	}
}


.hero {
	width: 100%;
	height: 540px;
	background: url(https://res.cloudinary.com/stayscrape/image/upload/e_sharpen:20/v1490822600/cover_utslzg.jpg) center center no-repeat;
	background-size: cover;
	padding-top: 160px;
	.search-widget {
		width: 600px;
		margin: auto;
		h1 {
			color: #fff;
			font-size: 42px;
			text-align: center;
			text-shadow: 0 0 10px rgba(0,0,0,.2);
		}
		.searchBox {
			input {
				width: 100%;
				border: none;
				height: 50px;
				font-size: 18px;
				text-indent: 10px;
				outline: none;
				box-shadow: 0 0 5px rgba(0,0,0,.2);
			}
		}
	}

	@media screen and (max-width: $break-mobile-s) {
		padding-top: 100px;
		height: 480px;
		.search-widget {
			width: 100%;
			padding: 0 15px;
			h1 {
				font-size: 20px;
				line-height: 1.2;
				margin-top: 50px;
				width: 100%;
				font-weight: 600;
				text-align: center;
				display: block;
			}
			.searchBox {
				input {
					height: 40px;
					font-size: 16px;
				}
			}
		}
	}
	
	@media screen and (min-width: $break-mobile-s + 1) and (max-width: $break-small) {
		padding-top: 140px;
		height: 600px;
		.search-widget {
			width: 100%;
			padding: 0 15px;
			h1 {
				font-size: 22px;
				line-height: 1.2;
				margin-top: 50px;
				width: 100%;
				font-weight: 600;
				text-align: center;
				display: block;
			}
			.searchBox {
				input {
					height: 50px;
					font-size: 16px;
				}
			}
		}
	}
	
	@media screen and (min-width: $break-small + 1) and (max-width: $break-medium) {
		padding-top: 50px;
		height: 340px;
		.search-widget {
			width: 500px;
			padding: 0 15px;
			h1 {
				font-size: 28px;
				line-height: 1.2;
				margin-top: 50px;
				width: 100%;
				font-weight: 600;
				text-align: center;
				display: block;
			}
			.searchBox {
				input {
					height: 50px;
					font-size: 16px;
				}
			}
		}
	}
}





section {
	margin-top: 70px;
	h2 {
		// font-family: Avenir-Medium;
		font-size: 28px;
		margin-top: 0;
		margin-bottom: 20px;
		color: $main-color;
	}
	@media screen and (max-width: $break-small) {
		margin-top: 30px;
		h2 {
			font-size: 24px;
		}
	}
}

section.featuerd-rentals {
	.featured-item {
		height: 300px;
		display: block;
		text-decoration: none;
		img {
			width: 100%;
		}
		.item-title {
			// font-family: Avenir-Medium;
			font-size: 16px;
			color: $main-color;
			margin-top: 10px;
			display: block;
			span.price {
				// font-family: Avenir-Heavy;
				font-size: inherit;
				margin-right: 10px;
			}
		}
		.item-location {
			// font-family: Avenir-Heavy;
			font-size: 16px;
			color: $main-color;
			display: block;
		}
	}

	@media screen and (max-width: $break-mobile-s) {
		.featured-item {
			height: 240px;
		}
	}

	@media screen and (min-width: $break-mobile-s + 1) and (max-width: $break-mobile-l) {
		.featured-item {
			height: 290px;
		}
	}

	@media screen and (min-width: $break-mobile-l + 1) and (max-width: $break-laptop) {
		.featured-item {
			height: 230px;
		}
	}

}

section.best-holiday-places {
	margin-top: 70px;

	h2 {
		font-family: inherit;
		font-size: 32px;
		color: $main-color;
		letter-spacing: 0px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 30px;
	}
	h3 {
		margin: 0 0 40px 0;
		transition: ease all .2s;
		&:hover {
			box-shadow: 0 0 10px 5px rgba(0,0,0,.1);
		}
		&.continent {
			.img {
				margin: 0;
			}
		}
		&.country {
			.img {
				max-height: 350px;
				overflow: hidden;
				margin: 0;
			}
		}
		a {
			display: block;
			text-align: center;
			overflow: hidden;
			&:hover, &:focus {
				text-decoration: none;
			}
			img {
				width: 100%;
			}
			span {
				display: block;
				margin: 10px 0;
				font-size: 24px;
				text-align: center;
				color: #3E3E3E;
				text-transform: uppercase;
				// font-family: Avenir-Heavy;
			}
		}
	}

	@media screen and (max-width: $break-mobile-s) {
		margin-top: 30px;
		h2 {
			font-size: 20px;
			margin-bottom: 10px;
		}
		h3 {
			a {
				span {
					font-size: 24px;
				}
			}
		}
	}

	@media screen and (min-width: $break-mobile-s + 1) and (max-width: $break-mobile-m) {
		margin-top: 30px;
		h2 {
			font-size: 24px;
			margin-bottom: 10px;
		}
		h3 {
			a {
				span {
					font-size: 24px;
				}
			}
		}
	}

	@media screen and (min-width: $break-mobile-m + 1) and (max-width: $break-mobile-l) {
		margin-top: 30px;
		h2 {
			font-size: 24px;
			margin-bottom: 10px;
		}
		h3 {
			a {
				span {
					font-size: 26px;
				}
			}
		}
	}

	@media screen and (min-width: $break-mobile-l + 1) and (max-width: $break-tablet) {
		margin-top: 40px;
		h2 {
			font-size: 30px;
			margin-bottom: 20px;
		}
		h3 {
			&.country {
				.img {
					max-height: 245px;
				}
			}
			a {
				span {
					font-size: 20px;
				}
			}
		}
	}

	@media screen and (min-width: $break-tablet + 1) and (max-width: $break-laptop) {
		h3 {
			&.country {
				.img {
					max-height: 325px;
				}
			}
			a {
				span {
					font-size: 24px;
				}
			}
		}
	}
}

section.short-desc {
	p {
		// font-family: Avenir-Light;
		font-size: 18px;
		line-height: 25px;
		margin: 20px 0;
		strong {
			// font-family: Avenir-Medium;
		}
	}

	@media screen and (max-width: $break-medium) {
		margin-top: 30px;
	}
}


section.foot-hero {
	width: 100%;
	height: 550px;
	// background: url(../img/foot-hero.jpg) no-repeat;
	background: url(https://res.cloudinary.com/stayscrape/image/upload/c_scale,e_sharpen:20,w_1200/v1488751700/footer-cover.jpg) no-repeat;
	background-size: cover;
	padding-top: 230px;

	h4 {
		// font-family: Avenir-Medium;
		font-size: 40px;
		line-height: 52px;
		text-align: center;
		color: #fff;
		padding: 0 10px;
	}

	@media screen and (max-width: $break-mobile-s) {
		height: 140px;
		padding-top: 60px;
		h4 {
			font-size: 18px;
			line-height: 1.4;
			padding: 0 10px;
		}
	}

	@media screen and (min-width: $break-mobile-s + 1) and (max-width: $break-mobile-l) {
		height: 240px;
		padding-top: 100px;
		h4 {
			font-size: 20px;
			line-height: 1.3;
		}
	}
}


footer {
	width: 100%;
	height: 140px;
	background: $footer-bg;
	color: #fff;

	.footer-brand {
		background: url(../img/logo_2x.png) no-repeat;
		background-size: cover;
		width: 157px;
		height: 32px;
		display: block;
		margin-top: 50px;		
	}

	.social {
		.stay-connected {
			margin-top: 30px;
			color: #FFDC00;
			// font-family: Avenir-Heavy;
			display: block;
			font-size: 18px;
			margin-bottom: 5px;
		}
	}

	@media screen and (max-width: $break-small) {
		.footer-logo-section{
			text-align: center;
		}
		.footer-brand {
			margin-top: 20px;
			margin-left: 10px;
		}
		.social {
			margin-left: 10px;
			.stay-connected {
				margin-top: 20px;
				font-size: 16px;
			}
		}
	}

	@media screen and (min-width: $break-small + 1) and (max-width: $break-medium) {
		.footer-brand {
			margin-top: 50px;
		}
		.social {
			float: right;
			margin-top: 0;
		}
	}
}




.placeholder {
  	background-color: #f6f6f6;
  	background-size: cover;
  	background-repeat: no-repeat;
  	position: relative;
  	overflow: hidden;
}

.placeholder img {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	transition: opacity 1s linear;
}

.placeholder img.loaded {
	opacity: 1;
}

.img-small {
	filter: blur(50px);
	transform: scale(1);
}