@import "colors";
@import "fonts";
@import "icons";
@import "buttons";
@import "_sections";
@import "_listing";


/*for disable scrolling while clicking fixed filterbar input*/
html, body{
    -webkit-overflow-scrolling : touch;
    overflow: auto;
    height: 100%;
}


body {
	background: #fff;
	color: $main-color;
	padding-top: 140px;
	font-family: Avenir;
	font-weight: 400;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
}
