@font-face {
  font-family: "Avenir";
  src: url(../fonts/AvenirLTStd-Light.otf);
  font-weight: 100; }
@font-face {
  font-family: "Avenir";
  src: url(../fonts/AvenirLTStd-Book.otf);
  font-weight: 200; }
@font-face {
  font-family: "Avenir";
  src: url(../fonts/AvenirLTStd-Roman.otf);
  font-weight: 300; }
@font-face {
  font-family: "Avenir";
  src: url(../fonts/AvenirLTStd-Medium.otf);
  font-weight: 400; }
@font-face {
  font-family: "Avenir";
  src: url(../fonts/AvenirLTStd-Heavy.otf);
  font-weight: 500; }
@font-face {
  font-family: "Avenir";
  src: url(../fonts/AvenirLTStd-Black.otf);
  font-weight: 600; }
.icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-top: 8px; }
  .icon.left {
    left: 10px; }
  .icon.right {
    right: 10px; }
  .icon.search {
    position: absolute;
    background: url(../img/icons/search.svg) no-repeat;
    background-size: cover; }
  .icon.calendar {
    background: url(../img/icons/calendar.svg) no-repeat;
    background-size: cover;
    position: absolute; }
  .icon.right-arrow {
    background: url(../img/icons/right-arrow.svg) no-repeat;
    width: 18px;
    height: 12px;
    top: 3px;
    position: absolute;
    background-size: cover; }
  .icon.guest {
    background: url(../img/icons/guest.svg) no-repeat;
    background-size: cover;
    width: 20px;
    position: absolute; }
  .icon.home {
    background: url(../img/icons/home.svg) no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px; }
  .icon.pin {
    background: url(../img/icons/pin.svg) no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px; }
  .icon.photos {
    background: url(../img/icons/photos.svg) no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px; }
  .icon.credit-card {
    background: url(../img/icons/credit-card.svg) no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px; }
  .icon.availability {
    background: url(../img/icons/availability.svg) no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px; }
  .icon.list {
    background: url(../img/icons/list.svg) no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px; }

.vicon {
  width: 17px;
  height: 17px;
  float: left;
  margin-right: 5px; }
  .vicon.sleeps {
    background: url(../img/icons/user.svg) no-repeat;
    background-size: cover; }
  .vicon.bathrooms {
    background: url(../img/icons/shower.svg) no-repeat;
    background-size: cover; }
  .vicon.bedrooms {
    background: url(../img/icons/bed.svg) no-repeat;
    background-size: cover; }

.btn {
  border-radius: 0;
  border: none;
  box-shadow: none; }
  .btn:focus {
    outline: none; }

.search-button {
  font-family: Avenir-Black;
  margin-top: 13px;
  background: #FFDC00;
  width: 110px;
  height: 34px;
  line-height: 36px;
  padding: 0 10px;
  text-transform: uppercase;
  color: #383742; }

#marker {
  width: 40px;
  height: 36px;
  cursor: pointer; }

body#detail {
  padding-top: 80px; }
  @media screen and (max-width: 480px) {
    body#detail {
      padding-top: 100px; } }

#rental-detail .photo-wall {
  width: 100%;
  height: 400px;
  background: #eee;
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px; }
  #rental-detail .photo-wall .photo-wall-content {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    list-style-type: none;
    padding: 0;
    overflow: x-scroll; }
    #rental-detail .photo-wall .photo-wall-content li {
      float: left;
      margin: 0;
      width: calc(100% / 3);
      height: 400px; }
      #rental-detail .photo-wall .photo-wall-content li .img-wrapper {
        overflow: hidden;
        position: relative;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        height: 100%; }
        #rental-detail .photo-wall .photo-wall-content li .img-wrapper .img {
          display: block;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center center; }
#rental-detail .summary-container h1 {
  font-size: 36px;
  font-weight: 400;
  color: #444;
  margin: 0;
  line-height: 1.3;
  margin-bottom: 10px; }
#rental-detail .summary-container h2 {
  font-size: 20px;
  font-weight: 100;
  margin-top: 10px;
  color: #666;
  margin-bottom: 0; }
#rental-detail .summary-container .about-the-villa h3 {
  color: #444;
  margin-bottom: 20px; }
#rental-detail .summary-container .about-the-villa p {
  font-size: 18px;
  font-weight: 100;
  line-height: 1.7;
  height: 110px;
  margin-bottom: 20px;
  overflow: hidden; }
#rental-detail .summary-container .about-the-villa a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: -1px; }
#rental-detail .summary-container .about-the-villa .hide-more {
  display: none; }
#rental-detail .summary-container .amnetity-images {
  width: 100%;
  overflow: hidden; }
  #rental-detail .summary-container .amnetity-images .item {
    border-right: 1px solid #ddd;
    width: calc(20% - 1px);
    float: left;
    text-align: center; }
    #rental-detail .summary-container .amnetity-images .item:last-child {
      border-right: none; }
    #rental-detail .summary-container .amnetity-images .item span {
      font-size: 21px;
      display: block;
      color: #666;
      font-weight: 100; }
    #rental-detail .summary-container .amnetity-images .item img {
      width: 24px;
      opacity: .6;
      margin-bottom: 20px; }
#rental-detail .summary-container .amnetities {
  margin-top: 10px;
  color: #666;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px; }
#rental-detail .summary-container .owner {
  text-align: center; }
  #rental-detail .summary-container .owner a {
    width: 72px;
    height: 72px;
    background: #eee;
    border-radius: 72px;
    border: 2px solid #666;
    display: inline-block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    #rental-detail .summary-container .owner a ~ p {
      font-size: 14px;
      display: block;
      text-align: center;
      margin-top: 5px;
      font-weight: 100; }
#rental-detail .breadcrumb {
  background: #fff;
  margin-top: 20px;
  padding: 0;
  font-size: 14px;
  color: #383742;
  margin: 0; }
  #rental-detail .breadcrumb a {
    color: #3e6bd0; }
#rental-detail #rates {
  list-style: none;
  font-size: 18px; }
  #rental-detail #rates li {
    display: inline-block;
    width: 18px;
    height: 18px; }
  #rental-detail #rates .full {
    background: url("../img/star-full.svg") no-repeat;
    background-size: cover; }
  #rental-detail #rates .half {
    background: url("../img/star-half.svg") no-repeat;
    background-size: cover; }
  #rental-detail #rates .empty {
    background: url("../img/star-empty.svg") no-repeat;
    background-size: cover; }
#rental-detail h1 {
  font-size: 32px;
  font-weight: 400; }
#rental-detail .btn-group {
  margin-bottom: 20px; }
  #rental-detail .btn-group .btn-lg {
    padding: 8px 15px;
    font-size: 18px; }
#rental-detail #rental-pictures {
  margin-bottom: 50px;
  /* fade in lazy loaded image */ }
  #rental-detail #rental-pictures .carousel {
    background: #FAFAFA; }
  #rental-detail #rental-pictures .carousel-cell-image {
    display: block;
    height: 500px;
    min-width: 200px;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s; }
  #rental-detail #rental-pictures .carousel-cell-image.flickity-lazyloaded,
  #rental-detail #rental-pictures .carousel-cell-image.flickity-lazyerror {
    opacity: 1; }
#rental-detail .owner img {
  width: 100%; }
#rental-detail .owner p {
  font-size: 20px;
  display: block;
  text-align: center;
  font-weight: 500;
  margin-top: 10px; }
#rental-detail #details {
  padding: 20px 0; }
  #rental-detail #details .details {
    font-size: 20px; }
  #rental-detail #details #detail-icons, #rental-detail #details #detail-text {
    margin-bottom: 30px; }
    #rental-detail #details #detail-icons p, #rental-detail #details #detail-text p {
      font-size: 16px; }
  #rental-detail #details .item {
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden; }
    #rental-detail #details .item img {
      width: 32px;
      height: 32px;
      opacity: .6;
      margin-bottom: 10px; }
    #rental-detail #details .item span {
      display: block;
      text-align: center;
      font-size: 14px;
      color: #888; }
    #rental-detail #details .item p {
      margin-top: 15px;
      display: block;
      font-size: 24px;
      color: #383742; }
  #rental-detail #details #featured {
    margin-top: 30px;
    padding-bottom: 30px;
    /* fade in lazy loaded image */ }
    #rental-detail #details #featured .carousel {
      background: #FAFAFA; }
    #rental-detail #details #featured .carousel-cell {
      position: relative;
      height: 180px;
      margin-right: 10px;
      padding: 0 5px;
      overflow: hidden; }
      #rental-detail #details #featured .carousel-cell .description-container {
        position: absolute;
        height: 40px;
        background: rgba(0, 0, 0, 0.4);
        width: calc(100% - 10px);
        left: 5px;
        bottom: 0;
        text-indent: 10px;
        overflow: hidden; }
        #rental-detail #details #featured .carousel-cell .description-container .price, #rental-detail #details #featured .carousel-cell .description-container .capacity {
          color: #fff;
          line-height: 40px;
          text-align: left;
          font-size: 18px; }
        #rental-detail #details #featured .carousel-cell .description-container .capacity {
          float: right;
          margin-right: 10px; }
    #rental-detail #details #featured .carousel-cell-image {
      display: block;
      max-height: 100%;
      margin: 0 auto;
      opacity: 0;
      -webkit-transition: opacity 0.4s;
      transition: opacity 0.4s; }
    #rental-detail #details #featured .carousel-cell-image.flickity-lazyloaded,
    #rental-detail #details #featured .carousel-cell-image.flickity-lazyerror {
      opacity: 1; }
    #rental-detail #details #featured .flickity-page-dots {
      bottom: -35px; }
#rental-detail #map-container {
  width: 100%;
  height: 360px; }
  #rental-detail #map-container #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 98%; }
#rental-detail .panel {
  background: #fff;
  border-radius: 0;
  margin-top: -73px;
  overflow: hidden;
  border: none;
  box-shadow: none; }
  #rental-detail .panel .panel-heading {
    background: #383742;
    border-radius: 0;
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: 500; }
    #rental-detail .panel .panel-heading small {
      font-size: 16px;
      font-weight: 100;
      letter-spacing: -1px; }
  #rental-detail .panel .panel-body {
    border: 1px solid #eee; }
    #rental-detail .panel .panel-body .contact-agent {
      font-size: 17px;
      font-weight: 500;
      display: block;
      text-transform: uppercase;
      margin-bottom: 20px; }
    #rental-detail .panel .panel-body input {
      border-radius: 0; }
    #rental-detail .panel .panel-body textarea {
      width: 100%;
      border: 1px solid #ccc;
      outline: none;
      padding: 10px; }
    #rental-detail .panel .panel-body .btn {
      font-weight: 500;
      padding: 10px 0;
      font-size: 16px; }
    #rental-detail .panel .panel-body .featured-villa {
      display: block;
      margin-bottom: 15px;
      border-bottom: 1px solid #eee;
      padding-bottom: 15px;
      overflow: hidden; }
      #rental-detail .panel .panel-body .featured-villa:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0; }
      #rental-detail .panel .panel-body .featured-villa .img {
        width: 30%;
        height: 72px;
        background: #eee;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        float: left; }
      #rental-detail .panel .panel-body .featured-villa .description {
        float: left;
        width: 70%;
        padding: 10px; }
        #rental-detail .panel .panel-body .featured-villa .description .price {
          font-size: 24px;
          font-weight: 500;
          color: #444; }
        #rental-detail .panel .panel-body .featured-villa .description small {
          font-size: 14px;
          color: #444;
          font-weight: 400; }
        #rental-detail .panel .panel-body .featured-villa .description .place {
          color: #444;
          font-weight: 500; }
  #rental-detail .panel span.price {
    font-size: 32px;
    color: #383742;
    display: block;
    line-height: 1; }
  #rental-detail .panel .book-this {
    margin-top: 20px; }
    #rental-detail .panel .book-this span {
      font-size: 17px;
      display: block;
      margin-bottom: 5px; }
    #rental-detail .panel .book-this .date-in, #rental-detail .panel .book-this .date-out, #rental-detail .panel .book-this .sleeps {
      background: #fff;
      width: calc(50% - 5px);
      position: relative;
      float: left;
      border: 1px solid #eee;
      margin-bottom: 15px; }
      #rental-detail .panel .book-this .date-in i.calendar, #rental-detail .panel .book-this .date-in i.person, #rental-detail .panel .book-this .date-out i.calendar, #rental-detail .panel .book-this .date-out i.person, #rental-detail .panel .book-this .sleeps i.calendar, #rental-detail .panel .book-this .sleeps i.person {
        opacity: .5;
        position: absolute;
        right: 5px;
        top: 10px; }
      #rental-detail .panel .book-this .date-in i.calendar, #rental-detail .panel .book-this .date-out i.calendar, #rental-detail .panel .book-this .sleeps i.calendar {
        background: url(../img/icons/date-calendar.svg) no-repeat;
        width: 14px;
        height: 14px;
        background-size: cover; }
      #rental-detail .panel .book-this .date-in i.person, #rental-detail .panel .book-this .date-out i.person, #rental-detail .panel .book-this .sleeps i.person {
        background: url(../img/icons/sleeps.svg) no-repeat;
        width: 14px;
        height: 14px;
        background-size: cover; }
      #rental-detail .panel .book-this .date-in input, #rental-detail .panel .book-this .date-out input, #rental-detail .panel .book-this .sleeps input {
        width: 100%;
        border: none;
        outline: none;
        height: 35px;
        font-size: 16px;
        text-indent: 5px; }
    #rental-detail .panel .book-this .date-in {
      margin-right: 5px; }
    #rental-detail .panel .book-this .sleeps {
      width: calc(100% - 4px); }
    #rental-detail .panel .book-this .btn {
      width: calc(100% - 4px); }
@media screen and (max-width: 480px) {
  #rental-detail .breadcrumb {
    display: none; }
  #rental-detail h1 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    width: 100%;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 20px; }
  #rental-detail #rates {
    font-size: 16px; }
    #rental-detail #rates li {
      width: 16px;
      height: 16px; } }
@media screen and (max-width: 425px) {
  #rental-detail .carousel-cell-image {
    height: 300px !important; }
  #rental-detail .flickity-page-dots {
    bottom: -40px; } }
@media screen and (max-width: 375px) {
  #rental-detail .carousel-cell-image {
    height: 270px !important; }
  #rental-detail .flickity-page-dots {
    bottom: -50px; } }
@media screen and (max-width: 320px) {
  #rental-detail .carousel-cell-image {
    height: 220px !important; }
  #rental-detail .flickity-page-dots {
    bottom: -50px; } }

body {
  background: #fff;
  color: #383742;
  font-family: Avenir;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased; }
  body#home {
    padding-top: 80px; }
    @media screen and (max-width: 480px) {
      body#home {
        padding-top: 0; } }
  body#listing {
    padding-top: 140px; }
  @media screen and (max-width: 480px) {
    body {
      padding-top: 0; } }

.navbar-stayScrape {
  background: #3e6bd0;
  color: #fff;
  width: 100%;
  height: 80px;
  line-height: 80px;
  border: none;
  border-radius: 0;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 999999; }
  .navbar-stayScrape .navbar-brand {
    background: url(../img/logo_2x.png) no-repeat;
    background-size: cover;
    width: 157px;
    height: 32px;
    margin-top: 24px;
    margin-left: 0 !important; }
  .navbar-stayScrape .navbar-nav a {
    color: #fff;
    line-height: 80px;
    padding: 0 15px;
    font-size: 14px;
    text-transform: uppercase; }
    .navbar-stayScrape .navbar-nav a:hover {
      background: #2b54b0; }
  @media screen and (max-width: 480px) {
    .navbar-stayScrape {
      overflow: hidden;
      height: 60px;
      margin-bottom: 0; }
      .navbar-stayScrape .navbar-header {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center; }
        .navbar-stayScrape .navbar-header .navbar-brand {
          margin-top: 15px;
          float: none;
          display: inline-block; } }

.filter-bar {
  background: #fff;
  width: 100%;
  height: 60px;
  color: #fff;
  position: fixed;
  top: 80px;
  z-index: 999999; }
  .filter-bar .input-container {
    margin-top: 13px;
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    height: 36px;
    padding: 0 10px; }
    .filter-bar .input-container input {
      border: none;
      height: 34px;
      color: #383742; }
      .filter-bar .input-container input:focus {
        outline: none; }
    .filter-bar .input-container#place-input-container input {
      width: calc(100% - 20px); }
    .filter-bar .input-container#date-input-container input {
      width: calc(100% - 25px);
      margin-left: 25px; }
    .filter-bar .input-container#date-input-container .checkin-container {
      padding-right: 0; }
    .filter-bar .input-container#date-input-container .checkout-container {
      margin-left: 20px; }
    .filter-bar .input-container#guest-container select {
      -webkit-appearance: none;
      margin-left: 30px;
      height: 34px;
      line-height: 36px;
      background: #fff;
      border: none;
      width: calc(100% - 30px);
      color: #383742; }
      .filter-bar .input-container#guest-container select:focus {
        outline: none; }
  .filter-bar .dropdown {
    margin-top: 13px;
    position: relative;
    background: #fff; }
    .filter-bar .dropdown .btn {
      width: 100%;
      border: 1px solid #ddd;
      height: 36px;
      padding: 0 10px;
      text-align: left; }
  @media screen and (max-width: 480px) {
    .filter-bar {
      overflow: hidden;
      top: 60px; }
      .filter-bar .search-button {
        width: 100%; } }

.hero {
  width: 100%;
  height: 540px;
  background: url(https://res.cloudinary.com/stayscrape/image/upload/e_sharpen:20/v1490822600/cover_utslzg.jpg) center center no-repeat;
  background-size: cover;
  padding-top: 160px; }
  .hero .search-widget {
    width: 600px;
    margin: auto; }
    .hero .search-widget h1 {
      color: #fff;
      font-size: 42px;
      text-align: center;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
    .hero .search-widget .searchBox input {
      width: 100%;
      border: none;
      height: 50px;
      font-size: 18px;
      text-indent: 10px;
      outline: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 320px) {
    .hero {
      padding-top: 100px;
      height: 480px; }
      .hero .search-widget {
        width: 100%;
        padding: 0 15px; }
        .hero .search-widget h1 {
          font-size: 20px;
          line-height: 1.2;
          margin-top: 50px;
          width: 100%;
          font-weight: 600;
          text-align: center;
          display: block; }
        .hero .search-widget .searchBox input {
          height: 40px;
          font-size: 16px; } }
  @media screen and (min-width: 321px) and (max-width: 480px) {
    .hero {
      padding-top: 140px;
      height: 600px; }
      .hero .search-widget {
        width: 100%;
        padding: 0 15px; }
        .hero .search-widget h1 {
          font-size: 22px;
          line-height: 1.2;
          margin-top: 50px;
          width: 100%;
          font-weight: 600;
          text-align: center;
          display: block; }
        .hero .search-widget .searchBox input {
          height: 50px;
          font-size: 16px; } }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .hero {
      padding-top: 50px;
      height: 340px; }
      .hero .search-widget {
        width: 500px;
        padding: 0 15px; }
        .hero .search-widget h1 {
          font-size: 28px;
          line-height: 1.2;
          margin-top: 50px;
          width: 100%;
          font-weight: 600;
          text-align: center;
          display: block; }
        .hero .search-widget .searchBox input {
          height: 50px;
          font-size: 16px; } }

section {
  margin-top: 70px; }
  section h2 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #383742; }
  @media screen and (max-width: 480px) {
    section {
      margin-top: 30px; }
      section h2 {
        font-size: 24px; } }

section.featuerd-rentals .featured-item {
  height: 300px;
  display: block;
  text-decoration: none; }
  section.featuerd-rentals .featured-item img {
    width: 100%; }
  section.featuerd-rentals .featured-item .item-title {
    font-size: 16px;
    color: #383742;
    margin-top: 10px;
    display: block; }
    section.featuerd-rentals .featured-item .item-title span.price {
      font-size: inherit;
      margin-right: 10px; }
  section.featuerd-rentals .featured-item .item-location {
    font-size: 16px;
    color: #383742;
    display: block; }
@media screen and (max-width: 320px) {
  section.featuerd-rentals .featured-item {
    height: 240px; } }
@media screen and (min-width: 321px) and (max-width: 425px) {
  section.featuerd-rentals .featured-item {
    height: 290px; } }
@media screen and (min-width: 426px) and (max-width: 1440px) {
  section.featuerd-rentals .featured-item {
    height: 230px; } }

section.best-holiday-places {
  margin-top: 70px; }
  section.best-holiday-places h2 {
    font-family: inherit;
    font-size: 32px;
    color: #383742;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px; }
  section.best-holiday-places h3 {
    margin: 0 0 40px 0;
    transition: ease all .2s; }
    section.best-holiday-places h3:hover {
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1); }
    section.best-holiday-places h3.continent .img {
      margin: 0; }
    section.best-holiday-places h3.country .img {
      max-height: 350px;
      overflow: hidden;
      margin: 0; }
    section.best-holiday-places h3 a {
      display: block;
      text-align: center;
      overflow: hidden; }
      section.best-holiday-places h3 a:hover, section.best-holiday-places h3 a:focus {
        text-decoration: none; }
      section.best-holiday-places h3 a img {
        width: 100%; }
      section.best-holiday-places h3 a span {
        display: block;
        margin: 10px 0;
        font-size: 24px;
        text-align: center;
        color: #3E3E3E;
        text-transform: uppercase; }
  @media screen and (max-width: 320px) {
    section.best-holiday-places {
      margin-top: 30px; }
      section.best-holiday-places h2 {
        font-size: 20px;
        margin-bottom: 10px; }
      section.best-holiday-places h3 a span {
        font-size: 24px; } }
  @media screen and (min-width: 321px) and (max-width: 375px) {
    section.best-holiday-places {
      margin-top: 30px; }
      section.best-holiday-places h2 {
        font-size: 24px;
        margin-bottom: 10px; }
      section.best-holiday-places h3 a span {
        font-size: 24px; } }
  @media screen and (min-width: 376px) and (max-width: 425px) {
    section.best-holiday-places {
      margin-top: 30px; }
      section.best-holiday-places h2 {
        font-size: 24px;
        margin-bottom: 10px; }
      section.best-holiday-places h3 a span {
        font-size: 26px; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    section.best-holiday-places {
      margin-top: 40px; }
      section.best-holiday-places h2 {
        font-size: 30px;
        margin-bottom: 20px; }
      section.best-holiday-places h3.country .img {
        max-height: 245px; }
      section.best-holiday-places h3 a span {
        font-size: 20px; } }
  @media screen and (min-width: 769px) and (max-width: 1440px) {
    section.best-holiday-places h3.country .img {
      max-height: 325px; }
    section.best-holiday-places h3 a span {
      font-size: 24px; } }

section.short-desc p {
  font-size: 18px;
  line-height: 25px;
  margin: 20px 0; }
@media screen and (max-width: 768px) {
  section.short-desc {
    margin-top: 30px; } }

section.foot-hero {
  width: 100%;
  height: 550px;
  background: url(https://res.cloudinary.com/stayscrape/image/upload/c_scale,e_sharpen:20,w_1200/v1488751700/footer-cover.jpg) no-repeat;
  background-size: cover;
  padding-top: 230px; }
  section.foot-hero h4 {
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #fff;
    padding: 0 10px; }
  @media screen and (max-width: 320px) {
    section.foot-hero {
      height: 140px;
      padding-top: 60px; }
      section.foot-hero h4 {
        font-size: 18px;
        line-height: 1.4;
        padding: 0 10px; } }
  @media screen and (min-width: 321px) and (max-width: 425px) {
    section.foot-hero {
      height: 240px;
      padding-top: 100px; }
      section.foot-hero h4 {
        font-size: 20px;
        line-height: 1.3; } }

footer {
  width: 100%;
  height: 140px;
  background: #383742;
  color: #fff; }
  footer .footer-brand {
    background: url(../img/logo_2x.png) no-repeat;
    background-size: cover;
    width: 157px;
    height: 32px;
    display: block;
    margin-top: 50px; }
  footer .social .stay-connected {
    margin-top: 30px;
    color: #FFDC00;
    display: block;
    font-size: 18px;
    margin-bottom: 5px; }
  @media screen and (max-width: 480px) {
    footer .footer-logo-section {
      text-align: center; }
    footer .footer-brand {
      margin-top: 20px;
      margin-left: 10px; }
    footer .social {
      margin-left: 10px; }
      footer .social .stay-connected {
        margin-top: 20px;
        font-size: 16px; } }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    footer .footer-brand {
      margin-top: 50px; }
    footer .social {
      float: right;
      margin-top: 0; } }

.placeholder {
  background-color: #f6f6f6;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.placeholder img {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s linear; }

.placeholder img.loaded {
  opacity: 1; }

.img-small {
  filter: blur(50px);
  transform: scale(1); }

#listing {
  background: #f5f5f5; }
  #listing .best-holiday-places h3 span {
    text-transform: none; }
  #listing .sortby-filter {
    padding: 20px 0;
    font-size: 16px;
    overflow: hidden; }
    #listing .sortby-filter .item {
      border-right: 1px solid #bbb;
      padding-right: 10px;
      margin-right: 10px;
      float: left; }
      #listing .sortby-filter .item.name {
        font-weight: bold; }
    #listing .sortby-filter .page-title {
      float: left;
      font-size: 32px;
      color: #5e5e5e;
      padding: 0;
      margin: 0; }
    #listing .sortby-filter .count {
      font-weight: 400;
      float: right;
      line-height: 24px;
      margin-top: 10px; }
    @media screen and (max-width: 480px) {
      #listing .sortby-filter {
        padding-top: 0; }
        #listing .sortby-filter .page-title {
          font-size: 28px; }
        #listing .sortby-filter .count {
          float: left; } }
  #listing .description {
    font-size: 15px;
    line-height: 1.75;
    color: #777;
    margin-bottom: 30px; }
  #listing .villas .villa {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    overflow: hidden;
    text-decoration: none;
    display: block; }
    #listing .villas .villa .img-container {
      width: 100%;
      height: 220px;
      text-align: center;
      overflow: hidden;
      background-size: cover;
      position: relative; }
    #listing .villas .villa .title {
      padding: 10px;
      height: 70px;
      margin: 0;
      font-size: 17px;
      font-weight: 400;
      display: block;
      color: #383742;
      margin-top: 5px;
      line-height: 1.4; }
    #listing .villas .villa .owner-container {
      padding: 10px;
      overflow: hidden;
      border-top: 1px solid #ddd; }
      #listing .villas .villa .owner-container .owner-picture {
        width: 50px;
        height: 50px;
        background-size: cover;
        border-radius: 50px;
        background-position: center;
        border: 3px solid #fff;
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.08);
        float: left;
        margin-right: 10px; }
      #listing .villas .villa .owner-container .owner-info {
        float: left; }
        #listing .villas .villa .owner-container .owner-info .owner-name {
          display: block;
          font-size: 17px;
          color: #383742;
          font-weight: 300;
          margin-top: 15px;
          line-height: 1; }
        #listing .villas .villa .owner-container .owner-info .owner-date {
          font-size: 13px;
          color: #777; }
    #listing .villas .villa .amnetities {
      border-top: 1px solid #ddd;
      font-size: 14px;
      overflow: hidden; }
      #listing .villas .villa .amnetities .name {
        font-size: 12px;
        margin-top: 5px;
        display: block;
        color: #666; }
      #listing .villas .villa .amnetities .value {
        margin-top: 10px;
        font-size: 18px;
        display: block;
        color: #383742; }
      #listing .villas .villa .amnetities .col {
        display: inline-block;
        text-align: center;
        padding: 10px 8px 4px 8px; }
        #listing .villas .villa .amnetities .col span.val {
          font-size: 18px;
          color: #383742; }
        #listing .villas .villa .amnetities .col:last-child {
          border-right: none;
          float: right;
          padding-right: 15px; }
          #listing .villas .villa .amnetities .col:last-child .val {
            text-align: center;
            display: block; }
            #listing .villas .villa .amnetities .col:last-child .val.price {
              text-align: right;
              color: #383742;
              font-weight: 700;
              font-size: 20px;
              line-height: 1; }
  #listing #map {
    position: relative; }
    #listing #map #villas-map {
      height: 540px; }
    #listing #map ~ #description {
      margin-top: 30px; }
      #listing #map ~ #description p {
        font-size: 16px;
        line-height: 1.4; }

.map-tooltip img {
  display: none !important; }

.pagination {
  display: block;
  overflow: hidden;
  margin-top: 0; }
  .pagination .count {
    font-size: 18px;
    font-weight: 100; }
  .pagination .arrows {
    float: right; }
    .pagination .arrows a {
      text-decoration: none;
      color: #5e5e5e;
      font-size: 18px; }
      .pagination .arrows a.prev {
        margin-right: 10px; }

@media screen and (max-width: 480px) {
  .pull-right {
    float: left !important; } }
.leaflet-popup-content {
  max-width: 240px; }
  .leaflet-popup-content img {
    width: 100%; }
  .leaflet-popup-content span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #383742; }

/*for disable scrolling while clicking fixed filterbar input*/
html, body {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  height: 100%; }

/*# sourceMappingURL=custom.css.map */
