@font-face {
  font-family: "Avenir";
  src: url(../fonts/AvenirLTStd-Light.otf);
  font-weight: 100; }
@font-face {
  font-family: "Avenir";
  src: url(../fonts/AvenirLTStd-Book.otf);
  font-weight: 200; }
@font-face {
  font-family: "Avenir";
  src: url(../fonts/AvenirLTStd-Roman.otf);
  font-weight: 300; }
@font-face {
  font-family: "Avenir";
  src: url(../fonts/AvenirLTStd-Medium.otf);
  font-weight: 400; }
@font-face {
  font-family: "Avenir";
  src: url(../fonts/AvenirLTStd-Heavy.otf);
  font-weight: 500; }
@font-face {
  font-family: "Avenir";
  src: url(../fonts/AvenirLTStd-Black.otf);
  font-weight: 600; }
.icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-top: 8px; }
  .icon.left {
    left: 10px; }
  .icon.right {
    right: 10px; }
  .icon.search {
    position: absolute;
    background: url(../img/icons/search.svg) no-repeat;
    background-size: cover; }
  .icon.calendar {
    background: url(../img/icons/calendar.svg) no-repeat;
    background-size: cover;
    position: absolute; }
  .icon.right-arrow {
    background: url(../img/icons/right-arrow.svg) no-repeat;
    width: 18px;
    height: 12px;
    top: 3px;
    position: absolute;
    background-size: cover; }
  .icon.guest {
    background: url(../img/icons/guest.svg) no-repeat;
    background-size: cover;
    width: 20px;
    position: absolute; }
  .icon.home {
    background: url(../img/icons/home.svg) no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px; }
  .icon.pin {
    background: url(../img/icons/pin.svg) no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px; }
  .icon.photos {
    background: url(../img/icons/photos.svg) no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px; }
  .icon.credit-card {
    background: url(../img/icons/credit-card.svg) no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px; }
  .icon.availability {
    background: url(../img/icons/availability.svg) no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px; }
  .icon.list {
    background: url(../img/icons/list.svg) no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px; }

.vicon {
  width: 17px;
  height: 17px;
  float: left;
  margin-right: 5px; }
  .vicon.sleeps {
    background: url(../img/icons/user.svg) no-repeat;
    background-size: cover; }
  .vicon.bathrooms {
    background: url(../img/icons/shower.svg) no-repeat;
    background-size: cover; }
  .vicon.bedrooms {
    background: url(../img/icons/bed.svg) no-repeat;
    background-size: cover; }

.btn {
  border-radius: 0;
  border: none;
  box-shadow: none; }
  .btn:focus {
    outline: none; }

.search-button {
  font-family: Avenir-Black;
  margin-top: 13px;
  background: #FFDC00;
  width: 110px;
  height: 34px;
  line-height: 36px;
  padding: 0 10px;
  text-transform: uppercase;
  color: #383742; }

#rental-detail .breadcrumb {
  background: #fff;
  margin-top: 20px;
  padding: 0;
  font-size: 14px;
  color: #383742; }
  #rental-detail .breadcrumb a {
    color: #3e6bd0; }
#rental-detail #rates {
  list-style: none;
  font-size: 18px;
  margin-bottom: 20px; }
  #rental-detail #rates li {
    display: inline-block;
    width: 18px;
    height: 18px; }
  #rental-detail #rates .full {
    background: url("../img/star-full.svg") no-repeat;
    background-size: cover; }
  #rental-detail #rates .half {
    background: url("../img/star-half.svg") no-repeat;
    background-size: cover; }
  #rental-detail #rates .empty {
    background: url("../img/star-empty.svg") no-repeat;
    background-size: cover; }
#rental-detail h1 {
  font-size: 32px; }
#rental-detail .btn-group {
  margin-bottom: 20px; }
  #rental-detail .btn-group .btn-lg {
    padding: 8px 15px;
    font-size: 18px; }
#rental-detail #rental-pictures {
  margin-bottom: 50px;
  /* fade in lazy loaded image */ }
  #rental-detail #rental-pictures .carousel {
    background: #FAFAFA; }
  #rental-detail #rental-pictures .carousel-cell-image {
    display: block;
    height: 500px;
    min-width: 200px;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s; }
  #rental-detail #rental-pictures .carousel-cell-image.flickity-lazyloaded,
  #rental-detail #rental-pictures .carousel-cell-image.flickity-lazyerror {
    opacity: 1; }
#rental-detail #details {
  padding: 20px 0; }
  #rental-detail #details .details {
    font-size: 20px; }
  #rental-detail #details #detail-icons, #rental-detail #details #detail-text {
    margin-bottom: 30px; }
    #rental-detail #details #detail-icons p, #rental-detail #details #detail-text p {
      font-size: 16px; }
  #rental-detail #details .item {
    text-align: center; }
    #rental-detail #details .item img {
      width: 32px;
      height: 32px;
      opacity: .6;
      margin-bottom: 10px; }
    #rental-detail #details .item span {
      display: block;
      text-align: center;
      font-size: 14px;
      color: #888; }
    #rental-detail #details .item p {
      margin-top: 15px;
      display: block;
      font-size: 24px;
      color: #383742; }
  #rental-detail #details #about-owner p {
    font-size: 16px; }
  #rental-detail #details #featured {
    margin-top: 30px;
    padding-bottom: 30px;
    /* fade in lazy loaded image */ }
    #rental-detail #details #featured .carousel {
      background: #FAFAFA; }
    #rental-detail #details #featured .carousel-cell {
      position: relative;
      height: 180px;
      margin-right: 10px;
      padding: 0 5px;
      overflow: hidden; }
      #rental-detail #details #featured .carousel-cell .description-container {
        position: absolute;
        height: 40px;
        background: rgba(0, 0, 0, 0.4);
        width: calc(100% - 10px);
        left: 5px;
        bottom: 0;
        text-indent: 10px;
        overflow: hidden; }
        #rental-detail #details #featured .carousel-cell .description-container .price, #rental-detail #details #featured .carousel-cell .description-container .capacity {
          color: #fff;
          line-height: 40px;
          text-align: left;
          font-size: 18px; }
        #rental-detail #details #featured .carousel-cell .description-container .capacity {
          float: right;
          margin-right: 10px; }
    #rental-detail #details #featured .carousel-cell-image {
      display: block;
      max-height: 100%;
      margin: 0 auto;
      opacity: 0;
      -webkit-transition: opacity 0.4s;
      transition: opacity 0.4s; }
    #rental-detail #details #featured .carousel-cell-image.flickity-lazyloaded,
    #rental-detail #details #featured .carousel-cell-image.flickity-lazyerror {
      opacity: 1; }
    #rental-detail #details #featured .flickity-page-dots {
      bottom: -35px; }
#rental-detail #map-container {
  width: 100%;
  height: 440px; }
  #rental-detail #map-container #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 98%; }
#rental-detail .panel {
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 0;
  padding: 20px;
  overflow: hidden; }
  #rental-detail .panel span.price {
    font-size: 32px;
    color: #383742;
    display: block;
    line-height: 1; }
  #rental-detail .panel .book-this {
    margin-top: 20px; }
    #rental-detail .panel .book-this span {
      font-size: 17px;
      display: block;
      margin-bottom: 5px; }
    #rental-detail .panel .book-this .date-in, #rental-detail .panel .book-this .date-out, #rental-detail .panel .book-this .sleeps {
      background: #fff;
      width: calc(50% - 5px);
      position: relative;
      float: left;
      border: 1px solid #eee;
      margin-bottom: 15px; }
      #rental-detail .panel .book-this .date-in i.calendar, #rental-detail .panel .book-this .date-in i.person, #rental-detail .panel .book-this .date-out i.calendar, #rental-detail .panel .book-this .date-out i.person, #rental-detail .panel .book-this .sleeps i.calendar, #rental-detail .panel .book-this .sleeps i.person {
        opacity: .5;
        position: absolute;
        right: 5px;
        top: 10px; }
      #rental-detail .panel .book-this .date-in i.calendar, #rental-detail .panel .book-this .date-out i.calendar, #rental-detail .panel .book-this .sleeps i.calendar {
        background: url(../img/icons/date-calendar.svg) no-repeat;
        width: 14px;
        height: 14px;
        background-size: cover; }
      #rental-detail .panel .book-this .date-in i.person, #rental-detail .panel .book-this .date-out i.person, #rental-detail .panel .book-this .sleeps i.person {
        background: url(../img/icons/sleeps.svg) no-repeat;
        width: 14px;
        height: 14px;
        background-size: cover; }
      #rental-detail .panel .book-this .date-in input, #rental-detail .panel .book-this .date-out input, #rental-detail .panel .book-this .sleeps input {
        width: 100%;
        border: none;
        outline: none;
        height: 35px;
        font-size: 16px;
        text-indent: 5px; }
    #rental-detail .panel .book-this .date-in {
      margin-right: 5px; }
    #rental-detail .panel .book-this .sleeps {
      width: calc(100% - 4px); }
    #rental-detail .panel .book-this .btn {
      width: calc(100% - 4px); }

.navbar-stayScrape {
  background: #3e6bd0;
  color: #fff;
  width: 100%;
  height: 80px;
  line-height: 80px;
  border: none;
  border-radius: 0;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 999999; }
  .navbar-stayScrape .navbar-brand {
    background: url(../img/logo_2x.png) no-repeat;
    background-size: cover;
    width: 157px;
    height: 32px;
    margin-top: 24px;
    margin-left: 0 !important; }
  .navbar-stayScrape .navbar-nav a {
    color: #fff;
    line-height: 80px;
    padding: 0 15px;
    font-size: 14px;
    text-transform: uppercase; }
    .navbar-stayScrape .navbar-nav a:hover {
      background: #2b54b0; }
  @media screen and (max-width: 480px) {
    .navbar-stayScrape {
      overflow: hidden; }
      .navbar-stayScrape .navbar-header {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center; }
        .navbar-stayScrape .navbar-header .navbar-brand {
          float: none;
          display: inline-block; } }

.filter-bar {
  background: #fff;
  width: 100%;
  height: 60px;
  color: #fff;
  position: fixed;
  top: 80px;
  z-index: 999999;
  overflow: hidden; }
  .filter-bar .input-container {
    margin-top: 13px;
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    height: 36px;
    padding: 0 10px; }
    .filter-bar .input-container input {
      border: none;
      height: 34px;
      color: #383742; }
      .filter-bar .input-container input:focus {
        outline: none; }
    .filter-bar .input-container#place-input-container input {
      width: calc(100% - 20px); }
    .filter-bar .input-container#date-input-container input {
      width: calc(100% - 25px);
      margin-left: 25px; }
    .filter-bar .input-container#date-input-container .checkin-container {
      padding-right: 0; }
    .filter-bar .input-container#date-input-container .checkout-container {
      margin-left: 20px; }
    .filter-bar .input-container#guest-container select {
      -webkit-appearance: none;
      margin-left: 30px;
      height: 34px;
      line-height: 36px;
      background: #fff;
      border: none;
      width: calc(100% - 30px);
      color: #383742; }
      .filter-bar .input-container#guest-container select:focus {
        outline: none; }
  @media screen and (max-width: 480px) {
    .filter-bar {
      overflow: hidden; }
      .filter-bar .search-button {
        width: 100%; } }

.hero {
  width: 100%;
  height: 640px;
  background: url(https://res.cloudinary.com/stayscrape/image/upload/v1490135851/cover_mfltja.jpg) no-repeat;
  background-size: cover; }
  .hero h1 {
    float: right;
    color: #fff;
    font-size: 54px;
    line-height: 74px;
    width: 540px;
    margin-top: 160px; }
  @media screen and (max-width: 320px) {
    .hero {
      height: 160px; }
      .hero h1 {
        font-size: 22px;
        line-height: 1.2;
        margin-top: 50px;
        width: 100%;
        text-align: center; } }
  @media screen and (min-width: 321px) and (max-width: 480px) {
    .hero {
      height: 220px; }
      .hero h1 {
        font-size: 24px;
        line-height: 1.4;
        margin-top: 80px;
        width: 100%;
        text-align: center; } }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .hero {
      height: 340px; }
      .hero h1 {
        font-size: 36px;
        line-height: 1.4;
        float: left;
        margin-top: 200px; } }

section {
  margin-top: 70px; }
  section h2 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #383742; }
  @media screen and (max-width: 480px) {
    section {
      margin-top: 30px; }
      section h2 {
        font-size: 24px; } }

section.featuerd-rentals .featured-item {
  height: 300px;
  display: block;
  text-decoration: none; }
  section.featuerd-rentals .featured-item img {
    width: 100%; }
  section.featuerd-rentals .featured-item .item-title {
    font-size: 16px;
    color: #383742;
    margin-top: 10px;
    display: block; }
    section.featuerd-rentals .featured-item .item-title span.price {
      font-size: inherit;
      margin-right: 10px; }
  section.featuerd-rentals .featured-item .item-location {
    font-size: 16px;
    color: #383742;
    display: block; }
@media screen and (max-width: 320px) {
  section.featuerd-rentals .featured-item {
    height: 240px; } }
@media screen and (min-width: 321px) and (max-width: 425px) {
  section.featuerd-rentals .featured-item {
    height: 290px; } }
@media screen and (min-width: 426px) and (max-width: 1440px) {
  section.featuerd-rentals .featured-item {
    height: 230px; } }

section.best-holiday-places {
  margin-top: 70px; }
  section.best-holiday-places .row {
    margin-bottom: 30px; }
  section.best-holiday-places h2 {
    font-family: inherit;
    font-size: 42px;
    color: #3E3E3E;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px; }
  section.best-holiday-places h3 {
    margin: 0;
    transition: ease all .2s; }
    section.best-holiday-places h3:hover {
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1); }
    section.best-holiday-places h3 a {
      display: block;
      text-align: center;
      overflow: hidden; }
      section.best-holiday-places h3 a:hover, section.best-holiday-places h3 a:focus {
        text-decoration: none; }
      section.best-holiday-places h3 a img {
        width: 100%; }
      section.best-holiday-places h3 a span {
        display: block;
        margin: 10px 0;
        font-size: 24px;
        text-align: center;
        color: #3E3E3E;
        text-transform: uppercase; }
  @media screen and (max-width: 320px) {
    section.best-holiday-places h3 a span {
      font-size: 24px;
      line-height: 200px; } }
  @media screen and (min-width: 321px) and (max-width: 375px) {
    section.best-holiday-places h3 a span {
      font-size: 24px;
      line-height: 230px; } }
  @media screen and (min-width: 376px) and (max-width: 425px) {
    section.best-holiday-places h3 a span {
      font-size: 26px;
      line-height: 250px; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    section.best-holiday-places h3 a span {
      font-size: 20px;
      line-height: 150px; } }
  @media screen and (min-width: 769px) and (max-width: 1440px) {
    section.best-holiday-places h3 a span {
      font-size: 24px;
      line-height: 190px; } }

section.short-desc p {
  font-size: 18px;
  line-height: 25px;
  margin: 20px 0; }
@media screen and (max-width: 768px) {
  section.short-desc {
    margin-top: 30px; } }

section.foot-hero {
  width: 100%;
  height: 550px;
  background: url(https://res.cloudinary.com/stayscrape/image/upload/c_scale,e_sharpen:20,w_1200/v1488751700/footer-cover.jpg) no-repeat;
  background-size: cover;
  padding-top: 230px; }
  section.foot-hero h4 {
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #fff;
    padding: 0 10px; }
  @media screen and (max-width: 320px) {
    section.foot-hero {
      height: 140px;
      padding-top: 60px; }
      section.foot-hero h4 {
        font-size: 18px;
        line-height: 1.4;
        padding: 0 10px; } }
  @media screen and (min-width: 321px) and (max-width: 425px) {
    section.foot-hero {
      height: 240px;
      padding-top: 100px; }
      section.foot-hero h4 {
        font-size: 20px;
        line-height: 1.3; } }

footer {
  width: 100%;
  height: 140px;
  background: #383742;
  color: #fff; }
  footer .footer-brand {
    background: url(../img/logo_2x.png) no-repeat;
    background-size: cover;
    width: 157px;
    height: 32px;
    display: block;
    margin-top: 50px; }
  footer .social .stay-connected {
    margin-top: 30px;
    color: #FFDC00;
    display: block;
    font-size: 18px;
    margin-bottom: 5px; }
  @media screen and (max-width: 480px) {
    footer .footer-logo-section {
      text-align: center; }
    footer .footer-brand {
      margin-top: 20px;
      margin-left: 10px; }
    footer .social {
      margin-left: 10px; }
      footer .social .stay-connected {
        margin-top: 20px;
        font-size: 16px; } }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    footer .footer-brand {
      margin-top: 50px; }
    footer .social {
      float: right;
      margin-top: 0; } }

#listing {
  background: #f5f5f5; }
  #listing .best-holiday-places h3 span {
    text-transform: none; }
  #listing .sortby-filter {
    padding: 20px 0;
    font-size: 16px;
    overflow: hidden; }
    #listing .sortby-filter .item {
      border-right: 1px solid #bbb;
      padding-right: 10px;
      margin-right: 10px;
      float: left; }
      #listing .sortby-filter .item.name {
        font-weight: bold; }
    #listing .sortby-filter .page-title {
      float: left;
      font-size: 32px;
      color: #5e5e5e;
      padding: 0;
      margin: 0; }
    #listing .sortby-filter .count {
      font-weight: 400;
      float: right;
      line-height: 24px;
      margin-top: 10px; }
  #listing .villas .villa {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    overflow: hidden;
    text-decoration: none;
    display: block; }
    #listing .villas .villa .img-container {
      width: 100%;
      height: 220px;
      text-align: center;
      overflow: hidden;
      background-size: cover;
      position: relative; }
    #listing .villas .villa .title {
      padding: 10px;
      height: 70px;
      margin: 0;
      font-size: 17px;
      font-weight: 400;
      display: block;
      color: #383742;
      margin-top: 5px;
      line-height: 1.4; }
    #listing .villas .villa .owner-container {
      padding: 10px;
      overflow: hidden;
      border-top: 1px solid #ddd; }
      #listing .villas .villa .owner-container .owner-picture {
        width: 50px;
        height: 50px;
        background-size: cover;
        border-radius: 50px;
        background-position: center;
        border: 3px solid #fff;
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.08);
        float: left;
        margin-right: 10px; }
      #listing .villas .villa .owner-container .owner-info {
        float: left; }
        #listing .villas .villa .owner-container .owner-info .owner-name {
          display: block;
          font-size: 17px;
          color: #383742;
          font-weight: 300;
          margin-top: 15px;
          line-height: 1; }
        #listing .villas .villa .owner-container .owner-info .owner-date {
          font-size: 13px;
          color: #777; }
    #listing .villas .villa .amnetities {
      border-top: 1px solid #ddd;
      font-size: 14px;
      overflow: hidden; }
      #listing .villas .villa .amnetities .name {
        font-size: 12px;
        margin-top: 5px;
        display: block;
        color: #666; }
      #listing .villas .villa .amnetities .value {
        margin-top: 10px;
        font-size: 18px;
        display: block;
        color: #383742; }
      #listing .villas .villa .amnetities .col {
        display: inline-block;
        text-align: center;
        padding: 10px 8px 4px 8px; }
        #listing .villas .villa .amnetities .col span.val {
          font-size: 18px;
          color: #383742; }
        #listing .villas .villa .amnetities .col:last-child {
          border-right: none;
          float: right;
          padding-right: 15px; }
          #listing .villas .villa .amnetities .col:last-child .val {
            text-align: center;
            display: block; }
            #listing .villas .villa .amnetities .col:last-child .val.price {
              text-align: right;
              color: #383742;
              font-weight: 700;
              font-size: 20px;
              line-height: 1; }
  #listing #maps {
    position: fixed;
    right: 0;
    padding: 0; }

.pagination {
  display: block;
  overflow: hidden;
  margin-top: 0; }
  .pagination .count {
    font-size: 18px;
    font-weight: 100; }
  .pagination .arrows {
    float: right; }
    .pagination .arrows a {
      text-decoration: none;
      color: #5e5e5e;
      font-size: 18px; }
      .pagination .arrows a.prev {
        margin-right: 10px; }

/*for disable scrolling while clicking fixed filterbar input*/
html, body {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  height: 100%; }

body {
  background: #fff;
  color: #383742;
  padding-top: 140px;
  font-family: Avenir;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased; }

/*# sourceMappingURL=custom.css.map */
